</div>
</body>
<footer>
    <p class="copyright">Copyright © Employee System </p>
    <div class="social-media">
        <a href="https://www.linkedin.com/in/virginia-carrizo-bello/"><img class="redes" src="{{ url_for('static', filename='/resources/linkedin.png') }}" alt="mas"> </a>
        <a href="https://github.com/virginia-carrizo-bello"><img class="redes" src="{{ url_for('static', filename='/resources/github.png') }}" alt="mas"> </a>
        <a href="https://drive.google.com/file/d/19JpdgQY5gYIfasklFzzsYRCmTissOBwJ/view?usp=drive_link"><img class="redes" src="{{ url_for('static', filename='/resources/cv.png') }}" alt="mas"></a>
    </div>
</footer>

</html>