
footer {
    padding: 0;   
    margin: 0;
    font-family: 'Rubik', sans-serif; 
    width: 100%;
    height: 100px;
    background-color: #cbe2ac;
    margin-top: auto;
}

.redes{
    width: 20px;
    padding: 8px;
}

.social-media{

    display: flex;
    justify-content: center;
    
}

.copyright{
    text-align-last: center;
    font-size: 15px;
}